*{margin: 0;
padding: 0;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html {
  overflow-x: hidden;
  overflow-y: scroll;
  }
.header_main{
    padding: 30px;
}
.app{
  height: 100%;
}
.header_logo{
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
}
.emailform{
  -webkit-box-shadow: 0 0 0px #dd0000;
  -moz-box-shadow: 0 0 0px #e00000;
       box-shadow: 0 0 8px #ce0000;

background: transparent;
border: none;
margin-bottom:20px ;
width: 60% ;
height: 25px;
padding: 5px;
}
input{
  border: none;
  outline:none;
}

.passwordform{
  -webkit-box-shadow: 0 0 0px #dd0000;
  -moz-box-shadow: 0 0 0px #e00000;
       box-shadow: 0 0 8px #ce0000;

background: transparent;
border: none;
width: 60% ;
height: 25px;
margin-bottom: 20px;
padding:5px;
}
.mailspace{
  display: flex;
    flex-direction: column;
}
.signbutton{
  display: flex;
  margin-bottom: 20px;
}
.signtitle{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 40px;
}
.signform{
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.signwindow{
  display: flex;
    flex-direction: column;
    justify-content: center;
}
.reservecase{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.search_control{

color: whitesmoke;
    text-align: center;
    padding: 30px;
background-image: url("./img/bibliotheque_livres.jpg");
    width: 100%;
    box-sizing: border-box;
}
.search_control_tint{
  background-color: rgba(0, 0, 0,0.7);
  background-blend-mode: multiply;
  box-shadow: 0px -53px 23px -10px rgba(255, 0, 0, 0.36) inset;
}
.book_list_main{
  box-shadow: 1px 82px 18px -59px rgba(129, 129, 129, 0.34) inset;

}
.search_button{
  height: 35px;
  width: 35px;
  background: url("./img/searchbutton.png") ;
  background-size: contain; 
  background-position: center; 
  background-repeat: no-repeat; 
  border: none; 
  cursor: pointer; 
  margin-right: 2px;
}
.input_group_form_button{
  background-color: rgba(255, 255, 255,1);
  width: 40%;
margin-left: auto;
margin-right: auto;
display: flex;
justify-content: space-between;
}
.control_label{
  margin-right: 10px;
  margin-top: 10px;
}
.title_text{
  font-weight: bold;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}
.details_title_text{
  font-weight:normal;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.detail_img{
 width: auto;
}
.categories_text{
  text-decoration: underline;
  font-size: 12px;
  color:  rgba(169, 169, 169);
}
.details_categories_text{
  text-decoration: underline;
  font-size: 20px;
  font-weight: lighter;
  color: rgba(127, 127, 127);
}
.authors_text{
  font-size: 12px;
  color: rgba(127, 127, 127);
}
.details_authors_text{
  font-size: 12px;
  color: rgba(127, 127, 127);
  margin-bottom: 10px;
font-size: 20px;
font-weight: lighter;
}
.options{
  border: none;
  outline: none;
}
.options:hover{
  background-color: rgba(255, 255, 255);
}
.rows{
  display: flex;
  justify-content: space-between;

  align-items: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.category_control{
  border: none;
  outline: none;
  height: 100%;
}
.category_control_select{
height: 35px;
}
.search_input_group{
padding: 20px;
text-align: center;

}
.form_control{

  height: 25px;
  border: none;
  padding: 5px;
  outline: none;
  width: 100%;
}


.search_input{
    width: 20%;
    
    box-shadow: inset 0 0 2px 2px rgba(142, 142, 142);
   border: none;
   margin: 20px;
   padding: 8px;
    }
    .book_list{
    
        padding: 30px;
        
    }
    @keyframes ani {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
    .book_card{
        padding: 15px;
        animation: ani 1s forwards;
        opacity: 0;
        transition: box-shadow 0.2s ease-in-out;

       cursor: pointer;
        width: 220px;
        margin: 10px;
       height: 350px;
       
        text-align: center;
        background-color: rgba(235, 235, 235);
        display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center
    }
    .book_card:hover{
      box-shadow: 0px 3px 24px -8px rgba(255, 0, 0) inset;

    }
    .card_body{
      text-align: left;
      width: 100%;
      
    }

    .book_list .row {
        display: flex;
        flex-wrap: wrap;
        
      }
      .pagination_button_left{
        background: url("./img/levo.png") ;
        width: 40px;
        height: 40px;
        background-size: contain; 
        background-position: center; 
        background-repeat: no-repeat; 
        border: none; 
        cursor: pointer; 
        margin-right: 2px;
      }
      .pagination_button_right{
        background: url("./img/pravo.png") ;
        width: 40px;
        height: 40px;
        background-size: contain; 
        background-position: center; 
        background-repeat: no-repeat; 
        border: none; 
        cursor: pointer; 
        margin-right: 2px;
      }
      .back_button{
        background-color: rgba(255, 255, 255);
        border: 1px solid rgba(188, 188, 188);
        width: 40px;
        cursor: pointer;
        height: 30px;
        margin-top: 10px;
      }
      .pagination_buttons{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
      }
      .total_items{
        display: flex;
        justify-content: center;
        padding-top: 30px;
      }
      .card_img{
        box-shadow: 0px 36px 24px -8px rgba(255, 0, 0, 0.46);

      }
      .book_detail_card{
        width: 100%;
        height: 100%;
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #ececec;
      }
     .card_details_body{
      width: 60%;
      height: 100%;
      padding: 20px;
      background-color: white;
     }
     .card_detail_img{
      height: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 36px 24px -8px rgba(255, 0, 0, 0.46);

     }
      .description_text{
        font-weight: 400;
        height:350px;
  overflow-y: scroll;
  border: 1px solid rgba(202, 202, 202);
padding: 5px;
      }
      .details_description_text{
        font-weight: 400;
        height:250px;
        margin-top: 25px;
  overflow-y: scroll;
  border: 1px solid rgba(202, 202, 202);
padding: 15px;
      }
      .stage{
        position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
      }
      
      @keyframes spincube {
        from,to {
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        }		
        16% {
            transform: rotateY(-90deg);
        }		
        33% {
            transform: rotateY(-90deg) rotateZ(90deg);
        }		
        50% {
            transform: rotateY(-180deg) rotateZ(90deg);
        }		
        66% {
            transform: rotateY(-270deg) rotateX(90deg);
        }	
        83% {
            transform: rotateX(90deg);
        }
    }
    .cubespinner {
      animation-name: spincube;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 3s;
      transform-style: preserve-3d;
      transform-origin: 60px 60px 0;
   }
   .cubespinner div {
    position: absolute;
    width: 120px;
    height: 120px;
    
    border: 1px solid rgb(0, 0, 0);
    background: rgba(222, 222, 222, 0.6);
    box-shadow: inset 0 0 20px rgba(158, 0, 0);
    line-height: 120px;
    font-size: 100px;
    color:rgba(127, 127, 127);
} 
 
.cubespinner .face1 {
    transform: translateZ(60px);
}
 
.cubespinner .face2 {
    transform: rotateY(90deg) translateZ(60px);
}
 
.cubespinner .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
}	  
 
.cubespinner .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
}	  
 
.cubespinner .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
}   
 
.cubespinner .face6 {
    transform: rotateX(-90deg) translateZ(60px);
}